.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
}

.header__title {
  margin: 0;
  margin-left: auto;
}

.header__button {
  padding: 5px;
  margin-left: auto;
}
